div(ng-include='"components/navbar/navbar.html"')
// STOCK JUMBOTRON
//header#banner.hero-unit
//  .container
//    h1 'Allo, 'Alldo!
//    p.lead Kick-start your next web app with Angular Fullstack
//    img(src='assets/images/yeoman.png', alt='I\'m Yeoman')
// BOOTSTRAP SEARCH FORM
//div.container
//  form(ng-submit="bookLookup()", placeholder="Search")
//    input(placeholder='Search for a book', ng-model="userInputBook")
//
//  h1 {{userInputBook}}
//
//  ul.list-group.nav.nav-tabs.nav-stacked.col-md-4.col-lg-4.col-sm-6
//    li.list-group-item(ng-repeat="book in books")
//      img(ng-src="{{book.thumbnail}}")
//      h3 {{book.title}}
// ANGULAR MATERIAL SEARCH FORM
div.container
  h1 Add your very own book to the collection
  md-content(layout-padding="row", layout-sm="column")
    form(ng-submit="bookLookup()")
      md-input-container
        input(placeholder='Search for a book', ng-model="userInputBook")
  h1 {{userInputBook}}
  md-grid-list(md-cols-sm="1", md-cols-md="2", md-cols-gt-md="6", md-row-height-gt-md="1:2", md-row-height="4:3", md-gutter="20px", md-gutter-gt-sm="18px")
    md-grid-tile.gray(ng-repeat="book in books", md-colspan-sm="1")
      img(ng-src="{{book.thumbnail}}")
      md-grid-tile-footer
        md-button.md-primary.md-raised(ng-click="addBook(book)") +
    md-grid-tile
footer.footer
  .container
    p
      | Angular Fullstack v2.1.1
      = ' | '
      a(href='https://twitter.com/tyhenkel') @tyhenkel
      = ' | '
      a(href='https://github.com/DaftMonk/generator-angular-fullstack/issues?state=open') Issues
