div(ng-include='"components/navbar/navbar.html"')

div.container
  h1 My Trade Requests

  h3 You have {{trades.length}} trade requests:

  md-grid-list(ng-repeat="trade in trades", md-cols-sm="2", md-cols-md="2", md-cols-gt-md="4", md-row-height-gt-md="1:2", md-row-height="4:3", md-gutter="20px", md-gutter-gt-sm="8px")
    md-grid-tile.gray(md-colspan-sm="1")
      //img(ng-src="{{trade.offered.bookId}}")
      | {{trade.offered.bookId}}
      md-grid-tile-footer
        p(ng-show="isUsers(book)") This is your book
    md-grid-tile.gray(md-colspan-sm="1")
      //img(ng-src="{{trade.wanted.bookId}}")
      | {{trade.wanted.bookId}}
      md-grid-tile-footer
        p(ng-show="isUsers(book)") This is your book
    md-grid-tile
      md-button.md-primary.md-raised(ng-click="acceptTrade($event, trade)") Accept
      md-button.md-warn.md-raised(ng-click="rejectTrade(trade)") Reject
